
:root {
	text-wrap: balance;
	text-wrap: pretty;
}

pre {
	white-space: pre-wrap;
}

rvx-example {
	display: block;
	padding: .65rem;
	border: .1rem dashed var(--md-accent-fg-color);
}

.md-typeset details code,
.admonition code {
	font-size: 1em;
}
